# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environments
.env
venv/
env/
*.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Model artifacts
*.h5
*.keras
*.joblib
